* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f6f3ee;
    color: #2f2f2f;
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
}

header {
    background: #0cad2c;
    padding: 20px 8%;
    position: sticky;
    top: 0;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    width: auto;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu p {
    color: white;
    cursor: pointer;
}

.header-menu p:hover {
    color: #d4a373;
}

.header-cart img {
    height: 35px;
    cursor: pointer;
}

.about {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 50px 15%;
    padding: 50px;
    background: #2f2f2f;
    border-radius: 20px;
    color: white;
}

.about-image img {
    border-radius: 20px;
}

.about-text h2 {
    font-size: 45px;
    margin: 20px 0;
}

.about-text p:first-child {
    color: #d4a373;
    font-size: 14px;
} 
.section {
    padding: 50px 8%;
    text-align: center;
}

.subtitle {
    color: #a98467;
    margin-bottom: 10px;
}

.title {
    font-size: 45px;
    margin-bottom: 50px;
}

.menu-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 1400px;
    margin: 0 auto;
}

.menu-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.menu-card img {
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.menu-card h3 {
    margin-bottom: 10px;
}

.menu-card p {
    color: #666;
    margin-bottom: 15px;
}

.menu-card a {
    text-decoration: none;
    color: #a98467;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
}

.stars {
    color: #d4a373;
    margin-bottom: 15px;
}

.text {
    margin-bottom: 20px;
    color: #555;
}

.author {
    font-weight: bold;
}

footer {
    background: #1c1c1c;
    color: white;
    padding: 60px 8%;
}

.footer-top {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.footer-text {
    margin: 0;
    max-width: 300px;
    margin-top: 15px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-title {
    color: #d4a373;
    margin-bottom: 20px;
}

.footer-links p {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-links p:hover {
    color: white;
}
@media (max-width: 1513px) {
    .menu-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-card:nth-child(4),
    .menu-card:nth-child(5) {
        grid-column: span 1;
    }

    .menu-cards {
        justify-content: center;
    }
}
@media (max-width: 1024px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-text h2 {
        font-size: 34px;
    }

    .title {
        font-size: 34px;
    }
}
@media (max-width: 744px) {
    .header-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        text-align: center;
    }
    .header-menu p {
        padding: 0px 25px;
    }
    .about {
        display: flex;
        align-items: center;
        margin: 50px 20%;
        padding: 50px;
        background: #2f2f2f;
        border-radius: 20px;
        color: white;
    }
}

@media (max-width: 500px) {
    header > div {
        gap: 10px;
    }
    .header-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        text-align: center;
    }
    .header-menu p {
        padding: 0px 10px;
    }
    .logo img {
        height: 45px;
    }
    .about-text h2 {
        font-size: 26px;
    }
    .menu-card img {
        height: 120px;
    }
    .card {
        padding: 18px;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 360px) {

    header > div {
        gap: 0px;
    }
    .header-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        text-align: center;
    }
    .header-menu p {
        padding: 0px 0px;
    }
    .logo img {
        height: 25px;
    }
    .about-text h2 {
        font-size: 7px;
    }
    .menu-card img {
        height: 80px;
    }
    .card {
        padding: 12px;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}